<app-app-navbar class="navbar"></app-app-navbar>

<div class="profile-page">
  <div class="favorite-movies">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Your Favorite Movies:</mat-card-title>
      </mat-card-header>
      <!-- <ng-container *ngIf="FavoriteMovies.length"> -->
      <mat-card *ngFor="let movie of FavoriteMovies">
        <mat-card-content>
          <mat-card-title>{{ movie.Title }}</mat-card-title>
          <mat-card-subtitle>{{ movie.Director }}</mat-card-subtitle>
          <mat-card-subtitle>{{ movie.Description }}</mat-card-subtitle>
          <!-- <img
              mat-card-image
              src="{{ movie.ImagePath }}"
              alt="{{ movie.Title }}"
            /> -->
        </mat-card-content>
      </mat-card>
      <!-- </ng-container> -->
    </mat-card>
  </div>

  <app-update-profile-form [userData]="userData"></app-update-profile-form>

  <div class="delete-account">
    <mat-card>
      <mat-card-actions>
        <button mat-raised-button (click)="deleteProfile()" color="primary">
          Delete Account
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
